.cart-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: auto 20px;
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 15px;
}
.cart-container img{
    width: 150px;
    border-radius: 10px;
}
.cart-item{
    border: 2px solid lightskyblue;
    border-radius: 10px;
    padding: 10px;
}